*{
    margin: 0px;
}

header {
    position: fixed;
    width:100%;
    padding: 8px;
    background: gray;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;

    & h2 {
        width: 90%;
        margin: 4px;
        padding-bottom: 4px;
        border-bottom: 2px solid #ccc;
    }
    & p {
        padding-top: 4px;
    }
}

main {
    background: whitesmoke;
    padding-top: 80px;
}

div {
    &.fixed_area {position: fixed;}
    &.flex_area {display: flex;}

    &.left_area {
        width: 20%;
    }
    &.select_list {
        background: gray;
        color: whitesmoke;
        & .select_item {
            & h3 {
                padding: 8px 4px;
            }
            & div {margin: 4px;}
        }
    }

    &.main_area {
        width: 55%;
    }
    &.right_area {
        width: 25%;
    }

    &.memo {
        width: 90%;
        margin: 0 auto;
        & .memo_item {
            padding: 12px;
            margin: 1.5em 0;
            background: white;
            border-top: solid 5px #5d627b;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    
            & p {
                margin: 0;
                padding-top: 4px;
                padding-bottom: 4px;
            }
    
            & li {
                list-style: none;
                & span {color: blue;}
            }
        }
    }

    & .contents {
        line-height: 1.6;
        margin: auto;
        width: 95%;
        padding: 1%;
        background: white;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);

        & .factor {
            margin: 16px 8px;  
            background-color: #f7f7f7;
            border: 2px solid #ccc;
            border-radius: 8px;
            & .factor_title {
                padding: 8px 16px;
                background: #ccc;
                border-radius: 4px 4px 0 0;
            }
            & .factor_candi_title {
                margin: 8px 0;
                padding: 8px 16px;
                background: #ccc;
            }
        }

        & .output {
            margin: 16px;
            background: rgba(200, 200, 220, 0.5);
            border-radius: 16px;
            & .sentence {
                padding: 8px;
                font-size: x-large;
                font-weight: bold;
                & span {
                    padding: 0 4px;
                    width: fit-content;
                    background-color: gold;
                }
            }
            & .no_one {
                padding: 8px 16px;
                font-weight: bold;
                color: orangered;
            }
        }
    }

    & .chapter {
        padding: 0 8px;
        width: fit-content;
        font-size:  large;
        font-weight: bold;
        background-color: cadetblue;
    }
    & .other_factors {
        padding: 0 8px;
        width: fit-content;
        font-size: large;
        font-weight: bold;
        background-color: darkorange;
    }
}

span {
    font-weight: bold;
    &.cyan{
        padding: 0 3px;
        color: darkturquoise;
    }
    &.d_cyan{
        padding: 0 3px;
        color: darkcyan;
    }
    &.gold{
        padding: 0 8px;
        width: fit-content;
        font-size: large;
        background-color: gold;
    }
}

ol {
    counter-reset: section;
    & li:before {
        content : counters(section, '.') '. ';
        counter-increment: section;
    }
}